@font-face {
  font-family: Inter;
  src: url("../public/fonts/Inter/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("../public/fonts/Inter/Inter-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url("../public/fonts/Inter/Inter-SemiBold.ttf");
  font-weight: 600;
}
